<%= form_for(@movement) do |f| %>
  <% if @movement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movement.errors.count, "error") %> prohibited this movement from being saved:</h2>

      <ul>
      <% @movement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :moment %><br>
    <%= f.datetime_select :moment %>
  </div>
  <!--
  <div class="field">
    <%= f.label :movementable_id %><br>
    <%= f.number_field :movementable_id %>
  </div>
  <div class="field">
    <%= f.label :movementable_type %><br>
    <%= f.text_field :movementable_type %>
  </div>
  -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
