<h1>Listing movements</h1>

<!-- Agregado de estilo para esta tabla -->
<style>
	table {
		border-collapse: collapse;
	}
	table, td, th {
		border: 1px solid green;
	}
	th {
		background-color: green;
		color: white;
	}
	td {
		padding:10px;
	}
</style>

<table>
	<thead>
		<tr>
			<th>Amount</th>
			<th>Moment</th>
			<th>Type</th>
			<th>Short Description</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @movements.each do |movement| %>
		<tr>
			<td><%= movement.amount %></td>
			<td><%= movement.moment %></td>
			<td><%= movement.to_s %></td>
			<td><%= movement.short_description %></td>

			<% if false %>
			<%-# Alta grasada para comentar un bloque! -%>
			<td><%= movement.movementable_id %></td>
			<td><%= movement.movementable_type %></td>

			<td><%= link_to 'Show', movement %></td>
			<td><%= link_to 'Edit', edit_movement_path(movement) %></td>
			<td><%= link_to 'Destroy', movement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			<% end %>
			<td><%= link_to 'Edit', edit_movement_path(movement) %></td>

		</tr>
		<% end %>
	</tbody>
</table>

<br />
<%= link_to 'New Debit Movement', new_debit_movement_path %>
<br />
<%= link_to 'New Credit Movement', new_credit_movement_path %>
