<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @movement.amount %>
</p>

<p>
  <strong>Moment:</strong>
  <%= @movement.moment %>
</p>

<p>
  <strong>Movementable:</strong>
  <%= @movement.movementable_id %>
</p>

<p>
  <strong>Movementable type:</strong>
  <%= @movement.movementable_type %>
</p>

<%= link_to 'Edit', edit_movement_path(@movement) %> |
<%= link_to 'Back', movements_path %>
