<%= form_for(@debit_movement) do |f| %>
  <% if @debit_movement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@debit_movement.errors.count, "error") %> prohibited this movement from being saved:</h2>

      <ul>
      <% @debit_movement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :moment %><br>
    <%= f.datetime_select :moment %>
  </div>
    <div class="field">
    <%= f.label :short_description %><br>
    <%= f.text_area :short_description, :cols=>"50", :rows=>"10"%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
